<h1 class="heading myAccount"> My Account </h1>
<div class="details">
<h2 class="heading"> Balance </h2>


<table class="earnings">
  <tr><th> Total Earnings : </th> <td> <%= number_to_currency(current_user.earnings)%> </td> </tr>
  <tr><th> Total Withdrawals :</th> <td> <%= number_to_currency(current_user.withdrawals )%> </td> </tr>
  <tr><th> Requests being processed :</th> <td> <%= number_to_currency(calculate_pending_total) %> </td> </tr>
  <tr><th> Amount available for withdrawal :</th> <td> <%= number_to_currency(current_user.available_for_withdrawal) %> </td> </tr>
  <tr><th> Minimum request amount : </th> <td> <%= number_to_currency(Setting.minimum_fee.value) %> </td> </tr>
</table>



<br />
<% if current_user.payment_requests.pending_payments.blank? %>
  <% if current_user.available_for_withdrawal > 0 %>

    <%= form_tag('#') do %>
    <label> Amount I wish to withdraw*: </label> 
     <%= text_field_tag('amount') %> 

     <div class="clear"></div>

    <label> My Paypal id: </label>
     <%= text_field_tag('paypal_payer_id', (current_user.paypal_info.paypal_id rescue ' ') )%> 

<div class="clear"></div>
<hr />
<center>
     <%= submit_tag 'submit' ,:class => 'button' %> - or - <%= link_to "Back", root_path %>
  <p>* Transaction fees applicable : <%=  Setting.find_by_reference('transaction_fee').value %>% of withdrawal amount plus <%= number_to_currency(Setting.find_by_reference('fixed_fee').value) %></p></center>
    <% end %>
  <%end%>
<%else%>
<hr />
  <center> <p> You have already requested to for a withdrawal. </p></center>
<%end%>
</div>


