<%= form_for([:admin, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class=>'large' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% content_for :extra_javascripts do %>
   <%= javascript_include_tag 'jHtmlArea-0.7.0' %>
   <%= stylesheet_link_tag 'jHtmlArea' %>
   <script type="text/javascript">
      $(function() { $("#page_body").htmlarea();  });
   </script>
<%end%>

