<div class="heading">
<% content_for :heading do %>
   <div class="left" style="width:50%;"><h1 class="listHeading">Listing affiliate merchants</h1></div>
<%end%>
<% content_for :actions do %>
  <div class="right button" style="width:48%;"><%= link_to 'New Affiliate merchant', new_admin_affiliate_merchant_path %></div>
<%end%>
</div>

<table class="listing">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @affiliate_merchants.each do |affiliate_merchant| %>
  <tr>
    <td><%= affiliate_merchant.name %></td>
    <td><%= link_to 'Show', admin_affiliate_merchant_path(affiliate_merchant) %></td>
    <td><%= link_to 'Edit', edit_admin_affiliate_merchant_path(affiliate_merchant) %></td>
    <td><%= link_to 'Destroy', admin_affiliate_merchant_path(affiliate_merchant), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

