<h1 class="heading userDetail">Your Transaction Details </h1>

<div class="leftContent left">

<h2 class="heading"> Payment requested </h2> 
<% unless current_user.payment_requests.pending_payments.blank? %>
  <table class="withdrawals">
     <tr>
       <th> Amount </th>
       <th> Requested date </th>
     </tr>
    <% current_user.payment_requests.pending_payments.each do |tr| %>
      <tr>
        <td> <%= number_to_currency(tr.total_amount) %></td>
        <td> <%= tr.created_at.to_date %></td>
      </tr>
    <%end%>
  </table>
<%else%>
  <p style="margin-left:20px; margin-bottom:20px;"> No pending requests. </p>
<%end%>
<br />
<div class="clear"></div>
<h2 class="heading"> Processed Withdrawals</h2>
<table class="withdrawals">
   <tr>
     <th> Amount </th>
     <th> Paid Date </th>
   </tr>
  <% current_user.payment_requests.completed_payments.each do |tr| %>
    <tr>
      <td> <%= number_to_currency(tr.total_amount) %> </td>
      <td> <%= tr.updated_at.to_date %> </td>
    </tr>
  <%end%>
</table>
<div class="right total">Total : <%= number_to_currency(calculate_paid_total) %></div>


</div>
<div class="rightContent right">
<h2 class="heading"> Transaction </h2>
<table class="listing">
   <tr>
     <th> Order Id </th>
     <th> Transaction Date </th>
     <th> Sales </th>
     <th> Commissions</th>
     <th> Affiliate Merchant name</th>
   </tr>
  <% current_user.transactions.each do |tr| %>
    <tr>
      <td> <%= tr.orderid %></td>
      <td> <%= tr.tranactiondate %></td>
      <td> <%= number_to_currency(tr.sales) %></td>
      <td> <%= number_to_currency(tr.commissions) %> </td>
      <td> <%= tr.affiliate_merchant.name %> </td>
    </tr>
  <%end%>
</table>
</div>
<div class="right"><%= link_to "Back", root_path %></div>
