
<% content_for :heading do %>
   <div class="left" style="width:50%;"><h1 class="listHeading">Listings</h1></div>
<%end%>
<% content_for :actions do %>
  <div class="right button" style="width:48%;"><%= link_to 'New Listing', new_admin_listing_path %></div>
<%end%>

<table class="listing">
  <tr>
    <th>Banner</th>
     <th>Category</th>
     <th>Affiliate</th>
    <th></th>
    <th></th>
    <th></th>
</tr>

<% @admin_listings.each do |admin_listing| %>
  <tr>
     <td style="width:100px;"><div style="overflow:scroll; width:200px; height:50px">
<%= raw(admin_listing.banner) %></td>
     <td><%= admin_listing.category.name rescue ''%></td>

      <td><%= admin_listing.affiliate_merchant.name%></td>
    <td><%= link_to 'Show', admin_listing_path(admin_listing) %></td>
    <td><%= link_to 'Edit', edit_admin_listing_path(admin_listing) %></td>
    <td><%= link_to 'Destroy', admin_listing_path(admin_listing), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

