<div class="heading">
<% content_for :heading do %>
   <div class="left" style="width:50%;"><h1 class="listHeading">Listing Payment Requests</h1></div>
<%end%>
</div>
<table class="listing">
  <tr>
    <th> user </th>
    <th> requested amount</th>
    <th> requested Date </th>
    <th> State </th>
    <th> </th>
  </tr>

<% @payment_requests.each do |pr| %>
  <tr>
    <td> <%= pr.user.name_or_email %></td>
    <td> <%= pr.amount %></td>
    <td> <%= pr.created_at.to_date %></td>
    <td> <%= pr.state %></td>
    <td> <%= link_to 'complete', complete_admin_payment_request_path(pr) if pr.state == 'pending'%> </td>
  </tr>
<% end %>
</table>

<br />

