<% if @user.uid.blank? %>

<h1> Edit user </h1>


<%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>


  <p><%= f.label :address %></p>
  <p><%= f.text_field :address %></p>



<p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>



  <p><%= f.submit "Update" %></p>
<% end %>

<%else%>

<%end%>

