<h1 class="heading editUser"> Edit User </h1>
<br />
<div class="details">
  <%= form_for(@user) do |f| %>
    <%= f.error_messages %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <div class="clear"></div>

    <%= f.label :address %>
    <%= f.text_field :address %>
    
    <div class="clear"></div>

  <% if @user.paypal_info.blank? %>
    <% @user.build_paypal_info %>
      <%= f.fields_for :paypal_info do |d| %>
         <label>pay pal id  </label><%= d.text_field :paypal_id %>
      <%end%>
  <%else%>
  
  <%= f.fields_for :paypal_info do |d| %>
    <label>pay pal id  </label><%= d.text_field :paypal_id %>
  <%end%>
 <%end%>
 <div class="clear"></div>

  <%= f.label :email %>
  <%= f.text_field :email %>

 <div class="clear"></div>

 <% if @user.uid.blank? %>
    <%= f.label :password %>
   <%= f.password_field :password %>
 
  <div class="clear"></div>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="clear"></div>

<%end%>
<hr />
<div class="button">
  <%= f.submit "Update" ,:class => 'button' %> -or- <%= link_to "Back", root_path %>
</div>
<% end %>

</div>

