= content_for :heading do
  Listing Users

= link_to 'New User', new_practice_user_path(current_practice)

%table.listing
  %tr
    %th User name
    %th Email
    %th Created date
    %th last sign in IP
    %th Sign in Count
    %th Admin
    %th Type
    %th Edit

  - current_practice.members.each do |pm|
    %tr
      %td= pm.user.username
      %td= pm.user.email
      %td= pm.user.created_at.strftime("%m-%d-%Y")
      %td= pm.user.last_sign_in_ip
      %td= pm.user.sign_in_count
      %td
        - if pm.is_admin?
          = link_to "admin > remove admin", edit_practice_practice_member_path(current_practice, pm)
        - else
          = link_to "make admin", edit_practice_practice_member_path(current_practice, pm)
      %td= pm.role.name unless pm.role_id.blank?

