<ul>
  <li> <%= link_to "Categories", admin_categories_path %> </li>
  <li> <%= link_to "Listings", admin_listings_path %> </li>
  <li> <%= link_to "Merchants", admin_affiliate_merchants_path %> </li>
  <li> <%= link_to "Users", admin_users_path %> </li>
  <li> <%= link_to "Earnings", admin_earnings_path %> </li>
  <li> <%= link_to "Pages", admin_pages_path %> </li>
  <li> <%= link_to "Payment Requests", admin_payment_requests_path %> </li>
  <li> <%= link_to 'Logout', destroy_user_session_path %> </li>
</ul>

