<ul>
  <li> <%= link_to "Categories", admin_categories_path %> </li>
  <li> <%= link_to "Listings", admin_listings_path %> </li>
  <li> <%= link_to "Merchants", admin_affiliate_merchants_path %> </li>
  <li> <%= link_to "Users", admin_users_path %> </li>
  <li> <%= link_to "Earnings", admin_earnings_path %> </li>
  <li> <%= link_to "Pages", admin_pages_path %> </li>
  <li> <%= link_to "Payment Requests", admin_payment_requests_path %> </li>
  <li> <%= link_to "pending Payment Requests", admin_payment_requests_path(:state => 'pending') %> </li>
  <li> <%= link_to "Settings", admin_settings_path %> </li>
  <li> <%= link_to "shopping transactions", admin_earnings_path %> </li>
  <li> <%= link_to "Reports", admin_reports_path %> </li>
  <li> <%= link_to 'Logout', destroy_user_session_path %> </li>
</ul>

