<ul class="tabs">
<% if current_user -%>


  <% if current_user.is_admin? %>

     <li><%= link_to 'Administration', admin_root_path %> </li>

  <%end%>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "My Orders", histroys_path %></li>
  <li><%= link_to 'My Profile', edit_user_path(current_user.id) %> </li>
  <li><%= link_to 'My Earnings', earnings_path %> &nbsp; </li>


<%end-%>
</ul>
