<div class="heading">
<% content_for :heading do %>
   <div class="left" style="width:50%;"><h1 class="listHeading">Listing categories</h1></div>
<%end%>
<% content_for :actions do %>
   <div class="right button" style="width:48%;"><%= link_to 'New Category', new_admin_category_path %></div>
<%end%>
</div>

<table class="listing">
  <tr>
    <th>Name</th>
       <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', admin_category_path(category) %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

