<% content_for :heading do %>
   Listing Users
<%end%>


<table class='listing'>
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> facebook user </th>
    <th> Earnings </th>
    <th> Payment request </th>
  </tr>

<% @users.each do |user| %>
  <tr>
     <td> <%= user.name  %> </td>
     <td> <%= user.email %> </td>
     <td> <%= user.provider == 'facebook'? 'yes' : 'no' %> </td>
     <td> <%= link_to 'Earnings', [:admin, user] %> </td>
     <td> <%= link_to 'payment request', payment_requests_admin_user_path(user) %> </td>
  </tr>
<% end %>
</table>

