  <% content_for :heading do %>
     <div class="left" style="width:50%;"><h1 class="listHeading">Listing Users</h1></div>
  <%end%>

<table class='listing'>
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> facebook user </th>
    <th> Earnings </th>
    <th> Payment request </th>
  </tr>

<% @users.each do |user| %>
  <tr>
     <td> <%= user.name  %> </td>
     <td> <%= user.email %> </td>
     <td> <%= user.provider == 'facebook'? 'yes' : 'no' %> </td>
     <td> <%= link_to 'Earnings', [:admin, user] unless user.transactions.blank? %> </td>
     <td> <%= link_to 'payment request', payment_requests_admin_user_path(user) unless user.payment_requests.blank? %> </td>
  </tr>
<% end %>
</table>

