<% content_for :heading do %>
<div class="heading">
  <div class="left" style="width:90%;"><h1 class="listHeading"> Payment requests of <%= @user.name %> </h1></div>
</div>
<%end%>

<h3> User Paypal Id : <%= @user.paypal_info.paypal_id %> </h3>



<table class='listing'>
  <tr>
    <th> Amount </th>
    <th> State </th>
    <th> Requested Date </th>
    <th> complete</th>

  </tr>

<% @user.payment_requests.each do |pr| %>
  <tr>
     <td> <%= number_to_currency(pr.amount)  %> </td>
     <td> <%= pr.state %> </td>
     <td> <%= pr.created_at.to_date  %> </td>
     <td> <%= link_to "complete", complete_admin_payment_request_path(pr, :u => @user.id) if pr.state == 'pending' %></td>

  </tr>
<% end %>
</table>
<div class="clear"></div>

<% content_for :actions do %>
  <%= link_to 'Back', :back %>
<%end%>

