<% content_for :heading do %>

<div class="heading">
   <div class="left" style="width:90%;"><h1 class="listHeading"> Earnings of <%= @user.name %></h1></div>
  </div>
<%end%>


<table class='listing'>
  <tr>
    <th>Name</th>
    <th>Affiliate Merchant name</th>
    <th>Order id </th>
    <th>Sales </th>
    <th>commissions</th>
    <th>transaction date</th>
    <th>Status </th>
  </tr>

<% @user.transactions.each do |tran| %>
  <tr>
    <td><%= tran.user.name_or_email %></td>
    <td><%= tran.affiliate_merchant.name %> </td>
    <td><%= tran.orderid %> </td>
    <td><%= number_to_currency(tran.sales) %> </td>
    <td><%= number_to_currency(tran.commissions) %></td>
    <td><%= tran.tranactiondate %></td>
    <td><%= tran.status %></td>
  </tr>
<% end %>
</table>

<div class="total right">Total : <%= number_to_currency(@user.earnings_total_price) %></div>

<% content_for :actions do %>
<div class="right">
  <%= link_to 'Back', :back %>
</div>
<%end%>

