<% content_for :heading do %>
  
<div class="heading">
   <div class="left" style="width:90%;"><h1 class="listHeading"> Earnings of <%= @user.name %></h1></div>
  </div>
<%end%>


<table class='listing'>
  <tr>
    <th> Commissions </th>
    <th> Merchant </th>

  </tr>

<% @user.transactions.each do |transaction| %>
  <tr>
     <td> <%= number_to_currency(transaction.commissions)  %> </td>
     <td> <%= transaction.affiliate_merchant.name %> </td>
  </tr>
<% end %>
</table>

<div class="total right">Total : <%= number_to_currency(@user.earnings_total_price) %></div>

<% content_for :actions do %>
<div class="right">
  <%= link_to 'Back', :back %>
</div>
<%end%>

