<!DOCTYPE html>
<html>
<head>
  <title>little surprizes </title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
   <script type ='text/javascript'>
    var auth_token = '<%=escape_javascript(form_authenticity_token)%>'
  </script>
  <%= yield :extra_javascripts %>
</head>
<body>
<div class="header">
  <div class="headerLeft left">
    <h1>LITTLE <span>SURPRIZES</span></h1>
  </div>
  <div class="headerRight right">
    <%= render :partial => 'shared/top_menu'%>
  </div>
</div>
<div class = 'clear'> </div>
<%if notice %> <p class="notice"><%= notice %> </p><%end-%>
<div class="wrapper">
<%= yield %>
</div>
<div class="clear"></div>
</body>
</html>

